@font-face {
    font-family: Nunito_Regular;
    src: url("../font/Nunito-Regular.ttf");
}

@font-face {
    font-family: RockSalt_Regular;
    src: url("../font/RockSalt-Regular.ttf");
}

:root {
    --main-color: #DF8480;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-size: 10px;
}

/* Hier header */

header p {
    font-size: 24px;
    font-family: RockSalt_Regular;
    text-align: center;
}

.ChompBild {
    display: none;
}

header section {
    display: flex;
}

header .redbackground, header img {
    width: 50%;
    margin-bottom: 2.4rem;;
}

.redbackground {
    background-color: var(--main-color);
}

.redbackground h1 {
    font-family: Nunito_Regular;
    font-size: 36px;
    color: white;
    width: 45%;
    text-align: right;
    margin-left: 50%;
    margin-right: 20px;
}


section h2 {
    font-size: 48px;
    color: var(--main-color);
    font-family: Nunito_Regular;
    font-weight: 900;
    margin-bottom: 2.4rem;
    text-align: center;
}


.reihenfolge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8vw;
    margin-bottom: 2.4rem;
    gap: 4vw;
}

.erstens, .zweitens, .drittens {
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
    width: 30vw;
    height: 28vh;
    padding: 2vh 3vw;
}

.beschreibungReihenfolge {
    font-family: Nunito_Regular;
    font-size: 16px;
    text-align: center;
}


.bilderreihe {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2vw;

}

.bilderreihe p {
    color: white;
    background-color: var(--main-color);
    font-family: Nunito_Regular;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    width: 20vw;
    height: 250px;
    padding: 70px 2vw;
}

main section article:nth-of-type(2) {
    margin-bottom: 16px;
}

footer {
    background-color: #242424;
    font-family: Nunito_Regular;
    font-size: 1.6rem;
}

footer article {
    display: flex;
}

footer article:first-of-type {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

footer p {
    padding: 2rem;
    color: white;
    width: 30vw;
    text-align: center;
}

footer article:nth-of-type(1) a {
    text-decoration: none;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    width: 30vw;
}

footer  article:nth-of-type(1) a:first-of-type {
    color: #7b7b7b;
    background-color: white; 
}

footer article:nth-of-type(1) a:nth-of-type(2) {
    color: white;
    background-color: var(--main-color); 
}

footer article:nth-of-type(2) {
    margin-left: 0.5rem;
    justify-content: space-between;
}

footer article:nth-of-type(2) img{
    width: 60px;
    height: 60px;
    padding: 10px;
}

footer article:nth-of-type(2) p {
    display: inline-block;
    padding: 4rem 2rem 0 2rem;
    padding-bottom: 1rem;
    text-align: right;
}




/* Hier media query */

@media screen and (max-width: 900px) {
    header section div {
        display: none;
    }
    
    header section img {
    width: 100%;
}

.ChompOben {
    display: none;
}

.ChompBild {
    display: block;
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
}

header section {
    display: flex;
    flex-direction: column;
}


header section img {
   margin-bottom: 0;
}

/* main section hier */

section h2:not(.nummertitle) {
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    padding: 20px 0;
}

.reihenfolge {
    flex-direction: column;
}

.erstens, .zweitens, .drittens {
    box-shadow: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    
}

.nummertitle {
    margin-right: 30px;
}

.beschreibungReihenfolge {
width: 100%;
text-align: left;
}

main section > h2:nth-of-type(2) {
    margin-bottom: 0;
}

.bilderreihe {
    flex-wrap: wrap;
    margin: 0;
}

.bilderreihe img {
    width: 48%;
}

.bilderreihe img:nth-of-type(1) {
    margin-right: 1%;
}

.bilderreihe img:nth-of-type(2) {
    margin-left: 1%;
}

.bilderreihe p {
    width: 100%; 
    border-radius: none;
    background-color: white;
    color: black;
    height: 100px;
    padding: 20px 10px;
}
}


@media screen and (max-width: 600px) {



    .reihenfolge {
        display: block;
    }

    .erstens, .zweitens, .drittens {
    display: block;
    height: 30vh;
    }

    .nummertitle {
        text-align: center;
    }

    .beschreibungReihenfolge {
        text-align: center;
        padding: 10px 0;
    }

    .bilderreihe {
        display: inline-block;
    }


    /* ! Eins drunter keine gute Lösung-verzerrt Bild-müsste Bild in Container packen, um nur einen Ausschnitt anzeigen zu lassen?-->lieber nicht, da ich sonst alles nochmals durchgehen muss */

    .bilderreihe img:first-of-type {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center;
    }

    .bilderreihe img:nth-of-type(2) {
        margin-left: 15%;
        width: 70%;
        padding: 0 30px;
    }

    footer p:first-of-type, footer article:first-of-type a {
        width: 80%;
    }

    footer article:nth-of-type(2) {
        display: inline-block;
        width: 100%;
    }

    footer article:nth-of-type(2) div {
        display: flex;
        justify-content: space-around;
    }

    footer article:nth-of-type(2) p {
        text-align: center;
        width: 100%;
        padding: 2rem 2rem 4rem 2rem;
    }

   
}

    
